[submodule "order"]
	path = order
	url = https://github.com/schware/sun-moon-java-platform-order.git
[submodule "kds"]
	path = kds
	url = https://github.com/schware/sun-moon-java-platform-kds.git
[submodule "delivery"]
	path = delivery
	url = https://github.com/schware/sun-moon-java-platform-delivery.git
[submodule "bo"]
	path = bo
	url = https://github.com/schware/sun-moon-java-platform-bo.git
[submodule "channel-order"]
	path = channel-order
	url = https://github.com/schware/sun-moon-java-platform-channel-order.git
